@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
#navbar{
    height:45px;
    background-color: #027b93;
    font-weight: 600;
    box-sizing: border-box;
    line-height: 2;
    position: sticky;
    top:0;
    font-size: 21px;
} 
html{
    scroll-behavior: smooth;
}

#heading{
    color:black;
    padding:0px 1110px 0px 35px;
}
.content_title>a{
    text-decoration: none;
    color: black;
}
.content_title>a:hover{
    color: white;
}
.content_title{
    padding-right: 20px;
}
body{
    background-color: rgb(233, 236, 239);
}

div{
    background-color: white;
    width: 850px;
    margin: auto;
}
table,th,td{
    border:1px solid gray;
    border-collapse: collapse;
}
#books{
    margin-top: 20px;
    padding-bottom: 15px;
}
h2{
    margin:0px 0px 10px 24px ;
    line-height: 2;
}
#book_content{
    width:800px;
    height:500px;
    font-size: 16px;
    text-align: center;
    margin-inline: auto;
}
#book_content>thead>tr>th{
    height:30px;
}
.table_cell_content{
    width:200px;
    height:80px;
    font-size: 14px;
    text-align: left;
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table_cell_content>tbody>tr>td{
    font-weight: 500;
}
#registration{
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#registration_content{
    margin-left: 24px;
}
.input_field{
    width:800px;
    height:28px;
}
label,input{
    margin: 8px 0px;
    font-size: 16px;
    font-weight: 600;
}
button{
    width: 803px;
    height: 30px;
    color:black;
    background-color: #027b93;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
}
button:hover{
    background-color:  #027b939f;
}


