@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
#navbar{
    height:30px;
    background-color: black;
    box-sizing: border-box;
    line-height: 1.8;
    position: sticky;
    top:0;
} 

#heading{
    color: white;
    padding:0px 730px 0px 20px;
}
#heading:hover{
    color: lightseagreen;
}
.content_title>a{
    text-decoration: none;
    color: white;
}
.content_title>a:hover{
    color: lightseagreen;
}
.content_title{
    padding-right: 15px;
}
body{
    background-color: rgb(233, 236, 239);
}

div{
    background-color: white;
    width: 750px;
    margin: auto;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
#books{
    margin-top: 20px;
    padding-bottom: 15px;
}
h3{
    margin:0px 0px 10px 24px ;
    line-height: 2;
}
#book_content{
    width:700px;
    font-size: 12px;
    text-align: center;
    margin-inline: auto;
}
.table_cell_content{
    width:150px;
    font-size: 10px;
    text-align: left;
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#registration{
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#registration_content{
    margin-left: 24px;
}
.input_field{
    width:700px;
}
label,input{
    margin: 5px 0px;
    font-size: 12px;
    font-weight: 500;
}
button{
    width: 703px;
    color: white;
    background-color: black;
}
button:hover{
    color: lightseagreen;
}


